<section id="credit-card-form">
  <div class="container">
    <div class="row">
      <div class="d-block col-12">
        <div class="card-container my-5"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 mx-auto my-5">
        <div class="card card-form text-center bg-light">
          <div class="card-body">
            <h5>Credit Card Form</h5>
            <form
              [formGroup]="cardForm"
              card
              container=".card-container"
              card-width="500"
              [messages]=""
              [placeholders]=""
              [masks]="{ expiry: '[0-9]{2}/[0-9]{2}' }"
              formatting="true"
              debug="true"
              (ngSubmit)="onSubmit()"
            >
              <div class="row">
                <div class=" col-12">
                  <mat-form-field class="w-100" appearance="standard">
                    <mat-label>Card Number</mat-label>
                    <input
                      #cardNumber
                      matInput
                      formControlName="number"
                      id="card-number"
                      placeholder="•••• •••• •••• ••••"
                      type="text"
                      name="number"
                      card-number
                    />
                    <mat-error>
                      <span
                        *ngIf="
                          cardForm.get('number')?.errors != null
                            ? (cardForm.get('number')?.errors)['required']
                            : false
                        "
                        >Credit Number Could Not Be Empty</span
                      >
                      <span *ngIf="cardForm.get('number').invalid">
                        Sorry, Invalid Credit Card Number</span
                      ></mat-error
                    >
                    <mat-hint
                      ><span
                        *ngIf="
                          cardForm.get('number').untouched &&
                          cardForm.get('number').invalid
                        "
                        >Preferred Length Card Number: Min <b>8</b> and Max
                        <b>19</b> Characters</span
                      >
                      <span
                        class="text-success"
                        *ngIf="cardForm.get('number').valid"
                        >Credit Card Number Is Valid</span
                      >
                    </mat-hint>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class=" col-sm col-md-6">
                  <mat-form-field appearance="standard" class="w-100">
                    <mat-label>First Name</mat-label>
                    <input
                      matInput
                      formControlName="firstName"
                      type="text"
                      name="first-name"
                      card-name
                    />
                    <mat-error>
                      <span
                        *ngIf="
                          cardForm.get('firstName')?.errors != null
                            ? (cardForm.get('firstName')?.errors)['required']
                            : false
                        "
                        >First Name Is Required</span
                      >
                      <!-- <span
                        *ngIf="
                          cardForm.get('firstName')?.errors != null
                            ? (cardForm.get('firstName')?.errors)['pattern']
                            : false
                        "
                        >Enter A Valid First Name, Only Literals</span
                      > -->
                      <span
                        *ngIf="
                          cardForm.get('firstName')?.errors != null
                            ? (cardForm.get('firstName')?.errors)[
                                'forbiddenSymbolsIsPresent'
                              ]
                            : false
                        "
                        >Forbidden Symbols Is Present, Only Literals Are
                        Allowed</span
                      >
                      <span
                        *ngIf="
                          cardForm.get('firstName').value != '' &&
                          (cardForm.get('firstName').value?.length < 3 ||
                            cardForm.get('firstName').value?.length > 30)
                        "
                        >{{ namesErrorMessage }}</span
                      >
                    </mat-error>
                    <mat-hint
                      ><span
                        *ngIf="
                          cardForm.get('firstName').untouched &&
                          cardForm.get('firstName').invalid
                        "
                      >
                        Min 3 Max 30 Chars, Only Literals
                      </span>
                      <span
                        class="text-success"
                        *ngIf="cardForm.get('firstName').valid"
                      >
                        First Name Is Valid
                      </span></mat-hint
                    >
                  </mat-form-field>
                </div>
                <div class=" col-sm col-md-6">
                  <mat-form-field appearance="standard" class="w-100">
                    <mat-label>Last Name</mat-label>
                    <input
                      matInput
                      formControlName="lastName"
                      type="text"
                      name="last-name"
                      card-name
                    />
                    <mat-error>
                      <span
                        *ngIf="
                          cardForm.get('lastName')?.errors != null
                            ? (cardForm.get('lastName')?.errors)['required']
                            : false
                        "
                        >Last Name Is Required</span
                      >
                      <!-- <span
                        *ngIf="
                          cardForm.get('lastName')?.errors != null
                            ? (cardForm.get('lastName')?.errors)['pattern']
                            : false
                        "
                      >
                        Enter A Valid Last Name, Only Literals
                      </span> -->
                      <span
                        *ngIf="
                          cardForm.get('lastName')?.errors != null
                            ? (cardForm.get('lastName')?.errors)[
                                'forbiddenSymbolsIsPresent'
                              ]
                            : false
                        "
                        >Forbidden Symbols Is Present, Only Literals Are
                        Allowed</span
                      >
                      <span
                        *ngIf="
                          cardForm.get('lastName').value != '' &&
                          (cardForm.get('lastName').value?.length < 3 ||
                            cardForm.get('lastName').value?.length > 30)
                        "
                        >{{ namesErrorMessage }}</span
                      >
                    </mat-error>
                    <mat-hint>
                      <span
                        *ngIf="
                          cardForm.get('lastName').untouched &&
                          cardForm.get('firstName').invalid
                        "
                      >
                        Min 3 Max 30 Chars, Only Literals
                      </span>
                      <span
                        class="text-success"
                        *ngIf="cardForm.get('lastName').valid"
                      >
                        Last Name Is Valid
                      </span></mat-hint
                    >
                  </mat-form-field>
                </div>
                <!-- end of row First Last Name -->
              </div>
              <div class="row">
                <div class=" col-sm col-md-4">
                  <mat-form-field appearance="standard" class="w-100">
                    <mat-label>CVC</mat-label>
                    <input
                      #cvcInput
                      matInput
                      formControlName="cvc"
                      placeholder="•••"
                      type="text"
                      name="cvc"
                      card-cvc
                    />
                    <mat-error
                      ><span *ngIf="cardForm.get('cvc').invalid"></span>Invalid
                      CVC Code

                      <span
                        *ngIf="
                          cardForm.get('cvc')?.errors != null
                            ? (cardForm.get('cvc')?.errors)['required']
                            : false
                        "
                        >CVC Code Is Required</span
                      >
                    </mat-error>
                    <mat-hint
                      ><span *ngIf="cardForm.get('cvc').untouched"
                        >Min 3 Symbols</span
                      >
                      <span
                        class="text-success"
                        *ngIf="cardForm.get('cvc').valid"
                        >CVC Code Is Valid</span
                      >
                    </mat-hint>
                  </mat-form-field>
                </div>
                <div class=" col-sm col-md-8">
                  <mat-form-field appearance="standard" class="w-100">
                    <mat-label>Card Expiry Date</mat-label>
                    <input
                      #expiryDate
                      maxlength="7"
                      matInput
                      formControlName="expiry"
                      placeholder="MM/YY"
                      type="text"
                      name="expiry"
                      card-expiry
                    />
                    <mat-error>
                      <span
                        *ngIf="
                          cardForm.get('expiry')?.errors != null
                            ? (cardForm.get('expiry')?.errors)['required']
                            : false
                        "
                        >Expiry Date Is Required</span
                      >
                      <span
                        *ngIf="
                          cardForm.get('expiry').invalid &&
                          cardForm.get('expiry')?.errors != null
                            ? !(cardForm.get('expiry')?.errors)['required']
                            : false
                        "
                        >{{ expiryErrorMessage }}</span
                      ></mat-error
                    >
                    <mat-hint
                      ><span
                        *ngIf="
                          cardForm.get('expiry').untouched ||
                          cardForm.get('expiry').value?.length <= 1
                        "
                        >Min Expiry Date:
                        {{
                          minExpiryDate.getMonth() +
                            1 +
                            "/" +
                            minExpiryDate.getFullYear()
                        }}; Max Expiry Date:
                        {{
                          maxExpiryDate.getMonth() +
                            1 +
                            "/" +
                            maxExpiryDate.getFullYear()
                        }}</span
                      >
                      <span
                        class="text-success"
                        *ngIf="cardForm.get('expiry').touched"
                        >{{ hintMessage }}</span
                      >
                    </mat-hint>
                  </mat-form-field>
                </div>
                <!-- end of row CVC, Expiration Date -->
              </div>

              <button class="mt-4 btn btn-success btn-block" type="submit">
                Pay Now
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
